<!--header-->
<header class="header">
  <div class="row">
    <div class="col-md-3 col-sm-4 col-xs-12">
      <a href="#" class="logo">
        <img alt="Logo" src="assets/images/logo.png"/>
      </a>
    </div>
    <div class="col-md-6 col-md-offset-3 col-sm-8  text-right col-xs-12 hidden-xs">
      <div class="owl-carousel owl-special">
        <div>
          <div class="special-news">
            <a href="#">
              <img alt="" src="assets/images/product/17.jpg"/>
            </a>
            <h3><a href="#">Apple iPhone 7 review </a></h3>
            <div class="meta-post">
              <a href="#">
                Ashley Ford
              </a>
              <em></em>
              <span>
                  21 Sep 2016
              </span>
            </div>
          </div>
        </div>
        <div>
          <div class="special-news">
            <a href="#">
              <img alt="" src="assets/images/product/18.jpg"/>
            </a>
            <h3><a href="#">YouTube Go is a new app for offline viewing and sharing </a></h3>
            <div class="meta-post">
              <a href="#">
                Super User
              </a>
              <em></em>
              <span>
                    25 Sep 2016
                </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!--menu-->
<nav class="menu font-heading">
  <div class="menu-icon hidden-lg hidden-md">
    <i class="fa fa-navicon"></i>
    <span>MENU</span>
  </div>
  <ul class="hidden-sm hidden-xs">
    <li>
      <a routerLink="/">Accueil </a>
    </li>
    <li *ngFor="let category of categories">
      <a [routerLink]="category.slug">{{ category.name }}</a>
    </li>
  </ul>
  <div class="search-icon">
    <div class="search-icon-inner">
      <i class="fa fa-search"></i>
    </div>
    <div class="search-box">
      <input type="text" placeholder="Search..."/>
      <button>Search</button>
    </div>
  </div>
</nav>
