{% extends 'layout.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
		<!-- Loader -->
		<div id="global-loader">
			<img src="../assets/img/loader.svg" class="loader-img" alt="Loader">
		</div>
		<!-- End Loader -->

		<!-- Page -->
		<div class="page main-signin-wrapper bg-primary construction">

			<div class="container ">
				<div class="construction1 text-center details text-white">
					<div class="">
						<div class="col-lg-12">
							<h1 class="tx-140 mb-0"></h1>
						</div>
						<div class="col-lg-12 ">
							<h1>If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.
                            This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
                            </h1>
							<h6>If you don't receive an email please check your spam folder or <a href="{{ path('app_forgot_password_request') }}" style="color: lightgrey">try again</a>.</h6>
							<!--<a class="btn ripple btn-success text-center mb-2" href="index.html">Back to Home</a>-->
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- End Page -->

    <!--
    <p>
        If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.
        This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>If you don't receive an email please check your spam folder or <a href="{{ path('app_forgot_password_request') }}">try again</a>.</p>
    -->
{% endblock %}
