{% extends "base.html.twig" %}

{% block title 'Accueil' %}
{% block meta_description 'Toutes l\'actualité française à portée de clic !' %}

{% block body %}
    <h1>Accueil du Layout</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam at eos impedit incidunt laudantium molestias sed, voluptatibus. Animi, consequatur doloremque eius eum illum magnam nostrum obcaecati rerum sint sunt.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam at eos impedit incidunt laudantium molestias sed, voluptatibus. Animi, consequatur doloremque eius eum illum magnam nostrum obcaecati rerum sint sunt.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam at eos impedit incidunt laudantium molestias sed, voluptatibus. Animi, consequatur doloremque eius eum illum magnam nostrum obcaecati rerum sint sunt.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam at eos impedit incidunt laudantium molestias sed, voluptatibus. Animi, consequatur doloremque eius eum illum magnam nostrum obcaecati rerum sint sunt.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam at eos impedit incidunt laudantium molestias sed, voluptatibus. Animi, consequatur doloremque eius eum illum magnam nostrum obcaecati rerum sint sunt.</p>
{% endblock %}



