{% extends 'layout.html.twig' %}

{% block title %}Mon profil{% endblock %}
{% block module %}User{% endblock %}
{% block action %}Me{% endblock %}

{% block content %}

    <h1>My profile</h1>

    <div>Email : {{ user.email }}</div>
    <div>Vérifiée : {{ user.isVerified }}</div>
    <div>Display name : {{ user.displayName }}</div>
    <div>Role : 
        {% for role in user.roles %}
            {{ role }} - 
        {% endfor %}
    </div>

{% endblock %}
