<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="congnd91">
    <title>TEZ NEWS | Magagize & News HTML Template</title>
    <!-- Favicons -->
    <link rel="shortcut icon" href="images/favicon.png">
    <link rel="apple-touch-icon" href="images/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
    <!-- Online Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,700&subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700" rel="stylesheet">
    <!-- Vender -->
    <link href="css/font-awesome.min.css" rel="stylesheet" />
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/normalize.min.css" rel="stylesheet" />
    <link href="css/owl.carousel.min.css" rel="stylesheet" />
    <!-- Main CSS (SCSS Compile) -->
    <link href="css/main.css" rel="stylesheet" />
    <!-- JavaScripts -->
    <!--<script src="js/modernizr.js"></script>-->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!--preload-->
    <div class="loader" id="page-loader">
        <div class="loading-wrapper">
        </div>
    </div>
    <!--menu mobile-->
    <nav class="menu-res hidden-lg hidden-md ">
        <div class="menu-res-inner">
            <ul>
                <li><a href="index.html">HOME</a></li>
                <li><a href="business.html">BUSINESS</a></li>
                <li><a href="reviews.html"> REVIEWS</a></li>
                <li><a href="video.html"> VIDEOS</a></li>
                <li><a href="computing.html"> COMPUTING</a></li>
                <li><a href="mobile.html">MOBILE</a></li>
                <li><a href="tech.html">TECH</a></li>
                <li><a href="mobile.html">MOBILE</a></li>
                <li>
                    <p>
                        <a href="#">PAGE</a>
                        <span class="open-submenu"><i class="fa fa-angle-down"></i></span>
                    </p>
                    <ul>
                        <li>
                            <a href="404.html">404</a>
                        </li>
                        <li>
                            <a href="contact.html">Contact us</a>
                        </li>
                        <li>
                            <a href="article.html">Article Post</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <div class="page">
        <div class="container">
            <!--header-->
            <header class="header">
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <a href="#" class="logo">
                            <img alt="Logo" src="images/logo.png" />
                        </a>
                    </div>
                    <div class="col-md-6 col-md-offset-3 col-sm-8  text-right col-xs-12 hidden-xs">
                        <div class="owl-carousel owl-special">
                            <div>
                                <div class="special-news">
                                    <a href="#">
                                        <img alt="" src="images/product/17.jpg" />
                                    </a>
                                    <h3><a href="#">Apple iPhone 7 review </a></h3>
                                    <div class="meta-post">
                                        <a href="#">
                                            Ashley Ford
                                        </a>
                                        <em></em>
                                        <span>
                                            21 Sep 2016
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="special-news">
                                    <a href="#">
                                        <img alt="" src="images/product/18.jpg" />
                                    </a>
                                    <h3><a href="#">YouTube Go is a new app for offline viewing and sharing </a></h3>
                                    <div class="meta-post">
                                        <a href="#">
                                            Super User
                                        </a>
                                        <em></em>
                                        <span>
                                            25 Sep 2016
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!--menu-->
            <nav class="menu font-heading">
                <div class="menu-icon hidden-lg hidden-md">
                    <i class="fa fa-navicon"></i>
                    <span>MENU</span>
                </div>
                <ul class="hidden-sm hidden-xs">
                    <li>
                        <a href="index.html">Home </a>
                    </li>
                    <li>
                        <a href="business.html">Business</a>
                    </li>
                    <li class="mega">
                        <a href="reviews.html">Reviews<span></span></a>
                        <!--Mega menu-->
                        <div class="mega-menu">
                            <h3>
                                Latest Post
                            </h3>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="mega-col">
                                        <div class="mega-item">
                                            <div class="mega-item-img">
                                                <a href="article.html">
                                                    <img alt="" src="images/product/3.jpg" />
                                                </a>
                                                <a href="#" class="cate-tag">Business</a>
                                            </div>
                                            <p><a href="article.html"> Aligning Digital Marketing with Business Goals and Objectives</a></p>
                                            <div class="meta-post">
                                                <a href="#">
                                                    Sue	Benson
                                                </a>
                                                <em></em>
                                                <span>
                                                    22 Sep 2016
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="mega-col">
                                        <div class="mega-item">
                                            <div class="mega-item-img">
                                                <a href="article.html">
                                                    <img alt="" src="images/product/4.jpg" />
                                                </a>
                                                <a href="#" class="cate-tag">Computing</a>
                                            </div>
                                            <p>
                                                <a href="article.html">
                                                    Six big ways MacOS Sierra is going to change your Apple experience
                                                </a>
                                            </p>
                                            <div class="meta-post">
                                                <a href="#">
                                                    Marion	Craig
                                                </a>
                                                <em></em>
                                                <span>
                                                    21 Sep 2016
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="mega-col">
                                        <div class="mega-item">
                                            <div class="mega-item-img">
                                                <a href="article.html">
                                                    <img alt="" src="images/product/5.jpg" />
                                                </a>
                                                <a href="#" class="cate-tag">Tech</a>
                                            </div>
                                            <p><a href="article.html">Messenger Bots Are Overhyped,  Growing like Crazy</a></p>
                                            <div class="meta-post">
                                                <a href="#">
                                                    Super User
                                                </a>
                                                <em></em>
                                                <span>
                                                    26 Sep 2016
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="mega-col">
                                        <div class="mega-item">
                                            <div class="mega-item-img">
                                                <a href="article.html">
                                                    <img alt="" src="images/product/6.jpg" />
                                                </a>
                                                <a href="#" class="cate-tag">Business</a>
                                            </div>
                                            <p><a href="article.html">7 essential lessons from agency marketing to startup growth</a></p>
                                            <div class="meta-post">
                                                <a href="#">
                                                    Ashley Ford
                                                </a>
                                                <em></em>
                                                <span>
                                                    26 September 2016
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="video.html">Video </a>
                    </li>
                    <li>
                        <a href="computing.html">Computing</a>
                    </li>
                    <li>
                        <a href="mobile.html">Mobile</a>
                    </li>
                    <li>
                        <a href="tech.html">Tech </a>
                    </li>
                    <li>
                        <a href="#">Page <span></span></a>
                        <ul class="submenu">
                            <li>
                                <a href="404.html">404</a>
                            </li>
                            <li>
                                <a href="contact.html">Contact us</a>
                            </li>
                            <li>
                                <a href="article.html">Article Post</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="search-icon">
                    <div class="search-icon-inner">
                        <i class="fa fa-search"></i>
                    </div>
                    <div class="search-box">
                        <input type="text" placeholder="Search..." />
                        <button>Search</button>
                    </div>
                </div>
            </nav>

            <div class="row">
                <!--colleft-->
                <div class="col-md-8 col-sm-12">
                    <!--post-detail-->
                    <article class="post-detail">
                        <h1>Six big ways MacOS Sierra is going to change your Apple experience</h1>
                        <div class="meta-post">
                            <a href="#">
                                Sue	Benson
                            </a>
                            <em></em>
                            <span>
                                22 Sep 2016
                            </span>
                        </div>

                        <p> <span class="dropcap ">N</span> ulla quis lorem ut libero malesuada feugiat. Cras ultricies ligula sed magna dictum porta. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Sed porttitor lectus nibh.</p>


                        <p>Quisque velit nisi, pretium ut lacinia in, elementum id enim. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Pellentesque in ipsum id orci porta dapibus.</p>


                        <div class="post-detail-img">
                            <img alt="" src="images/product/4.jpg" />
                        </div>
                        <p class="quote">Sed porttitor lectus nibh. Sed porttitor lectus nibh. Sed porttitor lectus nibh. Quisque velit nisi, pretium ut lacinia in, elementum id enim.</p>

                        <p>Curabitur aliquet quam id dui posuere blandit. Sed porttitor lectus nibh. Sed porttitor lectus nibh. Pellentesque in ipsum id orci porta dapibus.</p>

                        <h4>Nulla porttitor accumsan tincidunt.</h4>

                        <p>
                            <img alt="" src="images/product/2.jpg" class="post-detail-img-left" />

                            Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Sed porttitor lectus nibh. Donec sollicitudin molestie malesuada. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Nulla porttitor accumsan tincidunt. Donec rutrum congue leo eget malesuada. Nulla porttitor accumsan tincidunt. Cras ultricies ligula sed magna dictum porta. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Donec rutrum congue leo eget malesuada. Cras ultricies ligula sed magna dictum porta. Cras ultricies ligula sed magna dictum porta. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Sed porttitor lectus nibh. Quisque velit nisi, pretium ut lacinia in, elementum id enim.
                        </p>
                        <p>Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Proin eget tortor risus. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

                        <h5 class="text-right font-heading"><strong>Sue	Benson</strong> </h5>

                    </article>
                    <!--social-detail-->
                    <div class="social-detail">
                        <span>   Share article</span>

                        <ul class="list-social-icon">
                            <li>
                                <a href="#" class="facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="google">
                                    <i class="fa fa-google"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="youtube">
                                    <i class="fa fa-youtube-play"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="pinterest">
                                    <i class="fa fa-pinterest-p"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="rss">
                                    <i class="fa fa-rss"></i>
                                </a>
                            </li>

                        </ul>
                    </div>

                    <!--related post-->
                    <div class="detail-caption">
                        <span>  RELATED POST</span>
                    </div>
                    <section class="spotlight-thumbs spotlight-thumbs-related">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="spotlight-item-thumb">
                                    <div class="spotlight-item-thumb-img">
                                        <a href="#">
                                            <img alt="" src="images/product/3.jpg">
                                        </a>
                                        <a href="#" class="cate-tag">business</a>
                                    </div>
                                    <h3><a href="#">Donald Trump suggests the DNC was hacked by 'someone sitting on their bed that weighs 400 lbs'</a></h3>
                                    <div class="meta-post">
                                        <a href="#">
                                            Sue	Benson
                                        </a>
                                        <em></em>
                                        <span>
                                            22 Sep 2016
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="spotlight-item-thumb">
                                    <div class="spotlight-item-thumb-img">
                                        <a href="#">
                                            <img alt="" src="images/product/4.jpg">
                                        </a>
                                        <a href="#" class="cate-tag">Computing</a>
                                    </div>
                                    <h3><a href="#">Six big ways MacOS Sierra is going to change your Apple experience</a></h3>
                                    <div class="meta-post">
                                        <a href="#">
                                            Marion	Craig
                                        </a>
                                        <em></em>
                                        <span>
                                            21 Sep 2016
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="spotlight-item-thumb">
                                    <div class="spotlight-item-thumb-img">
                                        <a href="#">
                                            <img alt="" src="images/product/5.jpg">
                                        </a>
                                        <a href="#" class="cate-tag">Tech</a>
                                    </div>
                                    <h3><a href="#">Messenger Bots Are Overhyped, Underpowered—and Growing like Crazy</a></h3>
                                    <div class="meta-post">
                                        <a href="#">
                                            Super User
                                        </a>
                                        <em></em>
                                        <span>
                                            26 Sep 2016
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <!--comments-->
                    <div class="detail-caption">
                        <span>  3 COMMENTS</span>
                    </div>
                    <div class="list-comment">
                        <div class="author-info">
                            <div class="author-avatar">
                                <a class="author-link" href="#">
                                    <img src="images/avatar.jpg" />
                                </a>
                            </div>

                            <div class="author-text">
                                <div class="author-text-inner">
                                    <h3 class="author-title">
                                        <a class="author-link" href="#">
                                            Sue	Benson
                                        </a>

                                        <span>21 Sep 2016 at 6:35am</span>
                                    </h3>
                                    <p>
                                        Curabitur aliquet quam id dui posuere blandit. Pellentesque in ipsum id orci porta dapibus. Curabitur aliquet quam id dui posuere blandit
                                        <a href="#">Reply</a>
                                    </p>
                                </div>
                                <div class="reply-wrap">
                                    <div class="author-info">
                                        <div class="author-avatar">
                                            <a class="author-link" href="#">
                                                <img src="images/avatar1.jpg" />
                                            </a>
                                        </div>

                                        <div class="author-text">
                                            <div class="author-text-inner">
                                                <h3 class="author-title">
                                                    <a class="author-link" href="#">
                                                        Marion	Craig
                                                    </a>

                                                    <span>21 Sep 2016 at 6:55am</span>
                                                </h3>
                                                <p>
                                                    Curabitur aliquet quam id dui posuere blandit. Pellentesque in ipsum id orci porta dapibus. Curabitur aliquet quam id dui posuere blandit
                                                    <a href="#">Reply</a>
                                                </p>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="author-info">
                            <div class="author-avatar">
                                <a class="author-link" href="#">
                                    <img src="images/avatar2.jpg" />
                                </a>
                            </div>

                            <div class="author-text">
                                <div class="author-text-inner">
                                    <h3 class="author-title">
                                        <a class="author-link" href="#">
                                            Super User
                                        </a>

                                        <span>21 Sep 2016 at 7:10am</span>
                                    </h3>
                                    <p>
                                        Curabitur aliquet quam id dui posuere blandit. Pellentesque in ipsum id orci porta dapibus. Curabitur aliquet quam id dui posuere blandit
                                        <a href="#">Reply</a>
                                    </p>
                                </div>


                            </div>
                        </div>
                    </div>

                    <!--leave a reply-->
                    <div class="detail-caption">
                        <span>  Leave a reply</span>
                    </div>
                    <form class="comment-form">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="field-item">
                                    <input type="text" placeholder="Name" />
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="field-item">
                                    <input type="text" placeholder="Email" />
                                </div>
                            </div>
                        </div>
                        <div class="field-item">
                            <textarea placeholder="Text here..."></textarea>
                        </div>
                        <div class="field-item">
                            <button class="my-btn my-btn-dark">SUBMIT</button>
                        </div>
                    </form>
                </div>

                <!--colright-->
                <div class="col-md-4 col-sm-12">
                    <!--tab popular-->
                    <ul role="tablist" class="tab-popular">
                        <li class="active">
                            <a href="#tab1" role="tab" data-toggle="tab">
                                LATEST
                            </a>
                        </li>
                        <li>
                            <a href="#tab2" role="tab" data-toggle="tab">
                                POPULAR
                            </a>
                        </li>

                        <li>
                            <a href="#tab3" role="tab" data-toggle="tab">
                                RANDOM
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="tab1">
                            <ul class="list-news-popular">
                                <li>
                                    <a href="#">
                                        <img alt="" src="images/product/8.jpg">
                                    </a>
                                    <h3><a href="#">Netflix Speeds Jumped 51% This Year</a></h3>
                                    <div class="meta-post">
                                        <a href="#">
                                            Ashley Ford
                                        </a>
                                        <em></em>
                                        <span>
                                            24 Aug  2016
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <a href="#">
                                        <img alt="" src="images/product/9.jpg">
                                    </a>
                                    <h3><a href="#">Uber wants to build planes to beat city traffic</a></h3>
                                    <div class="meta-post">
                                        <a href="#">
                                            Karla	Walters
                                        </a>
                                        <em></em>
                                        <span>
                                            04 Sep  2016
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <a href="#">
                                        <img alt="" src="images/product/10.jpg">
                                    </a>
                                    <h3><a href="#">Apple reportedly prototyping their Amazon Echo competitor</a></h3>
                                    <div class="meta-post">
                                        <a href="#">
                                            Super User
                                        </a>
                                        <em></em>
                                        <span>
                                            01 Sep  2016
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <a href="#">
                                        <img alt="" src="images/product/11.jpg">
                                    </a>
                                    <h3><a href="#">Watch out: That USB stick in your mailbox might be infected</a></h3>
                                    <div class="meta-post">
                                        <a href="#">
                                            Sue	Benson
                                        </a>
                                        <em></em>
                                        <span>
                                            27 Aug  2016
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <a href="#">
                                        <img alt="" src="images/product/13.jpg">
                                    </a>
                                    <h3><a href="#">Tumblr brings Apple’s ‘Live Photos’ to the web</a></h3>
                                    <div class="meta-post">
                                        <a href="#">
                                            Super User
                                        </a>
                                        <em></em>
                                        <span>
                                            15 Sep 2016
                                        </span>
                                    </div>
                                </li>
                            </ul>

                        </div>
                        <div role="tabpanel" class="tab-pane " id="tab2">
                            <ul class="list-news-popular">
                                <li>
                                    <a href="#">
                                        <img alt="" src="images/product/12.jpg">
                                    </a>
                                    <h3><a href="#">Mozilla trolls the  nonsensical copyright laws with classic memes</a></h3>
                                    <div class="meta-post">
                                        <a href="#">
                                            Super User
                                        </a>
                                        <em></em>
                                        <span>
                                            26 Sep 2016
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <a href="#">
                                        <img alt="" src="images/product/11.jpg">
                                    </a>
                                    <h3><a href="#">Watch out: That USB stick in your mailbox might be infected</a></h3>
                                    <div class="meta-post">
                                        <a href="#">
                                            Sue	Benson
                                        </a>
                                        <em></em>
                                        <span>
                                            27 Aug  2016
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <a href="#">
                                        <img alt="" src="images/product/9.jpg">
                                    </a>
                                    <h3><a href="#">Uber wants to build planes to beat city traffic</a></h3>
                                    <div class="meta-post">
                                        <a href="#">
                                            Karla	Walters
                                        </a>
                                        <em></em>
                                        <span>
                                            04 Sep  2016
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <a href="#">
                                        <img alt="" src="images/product/10.jpg">
                                    </a>
                                    <h3><a href="#">Apple reportedly prototyping their Amazon Echo competitor</a></h3>
                                    <div class="meta-post">
                                        <a href="#">
                                            Super User
                                        </a>
                                        <em></em>
                                        <span>
                                            01 Sep  2016
                                        </span>
                                    </div>
                                </li>

                                <li>
                                    <a href="#">
                                        <img alt="" src="images/product/13.jpg">
                                    </a>
                                    <h3><a href="#">Tumblr brings Apple’s ‘Live Photos’ to the web</a></h3>
                                    <div class="meta-post">
                                        <a href="#">
                                            Super User
                                        </a>
                                        <em></em>
                                        <span>
                                            15 Sep 2016
                                        </span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div role="tabpanel" class="tab-pane " id="tab3">
                            <ul class="list-news-popular">
                                <li>
                                    <a href="#">
                                        <img alt="" src="images/product/13.jpg">
                                    </a>
                                    <h3><a href="#">Tumblr brings Apple’s ‘Live Photos’ to the web</a></h3>
                                    <div class="meta-post">
                                        <a href="#">
                                            Super User
                                        </a>
                                        <em></em>
                                        <span>
                                            15 Sep 2016
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <a href="#">
                                        <img alt="" src="images/product/8.jpg">
                                    </a>
                                    <h3><a href="#">Netflix Speeds Jumped 51% This Year</a></h3>
                                    <div class="meta-post">
                                        <a href="#">
                                            Ashley Ford

                                        </a>
                                        <em></em>
                                        <span>
                                            24 Aug  2016
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <a href="#">
                                        <img alt="" src="images/product/9.jpg">
                                    </a>
                                    <h3><a href="#">Uber wants to build planes to beat city traffic</a></h3>
                                    <div class="meta-post">
                                        <a href="#">
                                            Karla	Walters
                                        </a>
                                        <em></em>
                                        <span>
                                            04 Sep  2016
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <a href="#">
                                        <img alt="" src="images/product/10.jpg">
                                    </a>
                                    <h3><a href="#">Apple reportedly prototyping their Amazon Echo competitor</a></h3>
                                    <div class="meta-post">
                                        <a href="#">
                                            Super User
                                        </a>
                                        <em></em>
                                        <span>
                                            01 Sep  2016
                                        </span>
                                    </div>
                                </li>
                                <li>
                                    <a href="#">
                                        <img alt="" src="images/product/11.jpg">
                                    </a>
                                    <h3><a href="#">Watch out: That USB stick in your mailbox might be infected</a></h3>
                                    <div class="meta-post">
                                        <a href="#">
                                            Sue	Benson
                                        </a>
                                        <em></em>
                                        <span>
                                            27 Aug  2016
                                        </span>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>

                    <!-- subcribe box-->
                    <div class="subcribe-box">
                        <h3>NEWSLETTER</h3>
                        <p>Enter your email address below to subscribe to my newsletter</p>
                        <input type="text" placeholder="Your email address..." />
                        <button class="my-btn">Subscribe</button>
                    </div>
                    <!-- connect us-->
                    <div class="connect-us">
                        <div class="widget-title">
                            <span>
                                CONNECT & FOLLOW
                            </span>
                        </div>
                        <ul class="list-social-icon">
                            <li>
                                <a href="#" class="facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="google">
                                    <i class="fa fa-google"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="youtube">
                                    <i class="fa fa-youtube-play"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="pinterest">
                                    <i class="fa fa-pinterest-p"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="rss">
                                    <i class="fa fa-rss"></i>
                                </a>
                            </li>

                        </ul>
                    </div>

                    <!-- special post-->
                    <div class="connect-us">
                        <div class="widget-title">
                            <span>
                                Special post
                            </span>
                        </div>
                        <div class="list-special">

                            <article class="news-two-large">
                                <a href="#">
                                    <img alt="" src="images/product/4.jpg">
                                </a>
                                <h3><a href="#">Six big ways MacOS Sierra is going to change your Apple experience</a></h3>
                                <div class="meta-post">
                                    <a href="#">
                                        Sue	Benson
                                    </a>
                                    <em></em>
                                    <span>
                                        23 Sep 2016
                                    </span>
                                </div>

                            </article>

                            <article class="news-two-large">
                                <a href="#">
                                    <img alt="" src="images/product/6.jpg">
                                </a>
                                <h3><a href="#">7 essential lessons from agency marketing to startup growth</a></h3>
                                <div class="meta-post">
                                    <a href="#">
                                        Sue	Benson
                                    </a>
                                    <em></em>
                                    <span>
                                        23 Sep 2016
                                    </span>
                                </div>

                            </article>

                            <article class="news-two-large special-item-fix">
                                <a href="#">
                                    <img alt="" src="images/product/5.jpg">
                                </a>
                                <h3><a href="#">Messenger Bots Are Overhyped, Underpowered—and Growing like Crazy</a></h3>
                                <div class="meta-post">
                                    <a href="#">
                                        Super User
                                    </a>
                                    <em></em>
                                    <span>
                                        26 Sep 2016
                                    </span>
                                </div>

                            </article>

                        </div>
                    </div>

                    <!-- advertisement-->
                    <div class="ads hidden-sm hidden-xs">
                        <p>advertisement</p>
                        <img alt="" src="images/ads.jpg" class="img-responsive" />
                    </div>
                </div>
            </div>
        </div>
        <!--footer-->
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4  col-sm-4 col-xs-12">
                        <div class="about">
                            <a href="#" class="logo">
                                <img alt="" src="images/logo_footer.png" />
                            </a>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-md-offset-1 col-sm-4 col-xs-12">
                        <h3>HOT CATEGORIES</h3>
                        <ul class="list-category">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="business.html">Business</a></li>
                            <li><a href="reviews.html">Reviews</a></li>
                            <li><a href="video.html">Video</a></li>
                            <li><a href="computing.html">Computing</a></li>
                            <li><a href="mobile.html">Mobile</a></li>
                            <li><a href="tech.html">Tech</a></li>
                            <li><a href="contact.html">Contact </a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-md-offset-1 col-sm-4 col-xs-12">
                        <h3>HOT TAGS</h3>

                        <div class="list-tags">
                            <a href="#">iPhone 7</a>
                            <a href="#">News</a>
                            <a href="#">Sport</a>
                            <a href="#">Apple</a>
                            <a href="#">Alcatel</a>
                            <a href="#">Pixi 4</a>
                            <a href="#">Elon Musk </a>
                            <a href="#">Smart phone</a>
                            <a href="#">Nexus</a>
                            <a href="#">Canvas</a>

                        </div>
                    </div>
                </div>
                <!--All right-->
                <div class="allright">
                    <div class="row">
                        <div class="col-sm-6 col-xs-12">
                            <p> © 2016 <a href="#">TEZ NEWS</a>. All rights reserved.</p>
                        </div>

                        <div class="col-sm-6 col-xs-12">
                            <ul class="list-social-icon list-social-icon-footer">
                                <li>
                                    <a href="#" class="facebook">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="twitter">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="google">
                                        <i class="fa fa-google"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="youtube">
                                        <i class="fa fa-youtube-play"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="pinterest">
                                        <i class="fa fa-pinterest-p"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="rss">
                                        <i class="fa fa-rss"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!--scrip file-->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>