<div class="box-caption">
  <span>spotlight</span>
</div>
<!--spotlight-->
<section class="owl-carousel owl-spotlight">
  <div>
    <article class="spotlight-item">
      <div class="spotlight-img">
        <img alt="" src="assets/images/product/16.jpg" class="img-responsive" />
        <a href="#" class="cate-tag">Mobile</a>
      </div>
      <div class="spotlight-item-caption">
        <h2 class="font-heading">
          <a href="article.html">
            7 essential lessons from agency marketing to startup growth
          </a>
        </h2>
        <div class="meta-post">
          <a href="#">
            Super User
          </a>
          <em></em>
          <span>
                                            24 Sep 2016
                                        </span>
        </div>
        <p>When Microsoft took to the stage at this year's E3 it announced not one but two new consoles: the Xbox One S, which went on sale earlier this year, and Project Scorpio,which will enable gaming at native resolutions up to 4K when it hits store shelves in 2017. </p>
      </div>
    </article>
  </div>
  <div>
    <article class="spotlight-item">
      <div class="spotlight-img">
        <img alt="" src="assets/images/product/1.jpg" class="img-responsive" />
        <a href="#" class="cate-tag">Computing</a>
      </div>
      <div class="spotlight-item-caption">
        <h2 class="font-heading">
          <a href="article.html">
            Windows 10 Now Running on 400 Million Active Devices, Says Microsoft
          </a>
        </h2>
        <div class="meta-post">
          <a href="#">
            Ashley Ford
          </a>
          <em></em>
          <span>
                                            26 Sep 2016
                                        </span>
        </div>
        <p>Microsoft had set an ambitious goal for itself of having Windows 10 running on 1 billion active devices by FY18 at the launch of its software platform. However, back in July, the company acknowledged that due to lack of traction in its smartphone business, it might take longer to achieve this target</p>
      </div>
    </article>
  </div>
  <div>
    <article class="spotlight-item">
      <div class="spotlight-img">
        <img alt="" src="assets/images/product/2.jpg" class="img-responsive" />
        <a href="#" class="cate-tag">Mobile</a>
      </div>

      <div class="spotlight-item-caption">
        <h2 class="font-heading">
          <a href="article.html">
            iOS 10 Backups Less Secure Than iOS 9, Claims Researcher
          </a>
        </h2>
        <div class="meta-post">
          <a href="#">
            Super User
          </a>
          <em></em>
          <span>
                                            24 Sep 2016
                                        </span>
        </div>
        <p>A security research company based in Moscow claims to have discovered a flaw in Apple's local password protected iTunes backups in iOS 10, a flaw that is said to weaken password security. According to ElcomSoft's Oleg Afonin, the security flaw lets attackers develop a new attack that can bypass certain security </p>
      </div>
    </article>
  </div>

</section>

<!--spotlight-thumbs-->
<section class="spotlight-thumbs">
  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="spotlight-item-thumb">
        <div class="spotlight-item-thumb-img">
          <a href="#">
            <img alt="" src="assets/images/product/3.jpg" />
          </a>
          <a href="#" class="cate-tag">business</a>
        </div>
        <h3><a href="#">Tip Aligning Digital Marketing with Business Goals and Objectives</a></h3>
        <div class="meta-post">
          <a href="#">
            Sue	Benson
          </a>
          <em></em>
          <span>
                                            22 Sep 2016
                                        </span>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="spotlight-item-thumb">
        <div class="spotlight-item-thumb-img">
          <a href="#">
            <img alt="" src="assets/images/product/4.jpg" />
          </a>
          <a href="#" class="cate-tag">Computing</a>
        </div>
        <h3><a href="#">Six big ways MacOS Sierra is going to change your Apple experience</a></h3>
        <div class="meta-post">
          <a href="#">
            Marion	Craig
          </a>
          <em></em>
          <span>
                                            21 Sep 2016
                                        </span>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="spotlight-item-thumb">
        <div class="spotlight-item-thumb-img">
          <a href="#">
            <img alt="" src="assets/images/product/5.jpg" />
          </a>
          <a href="#" class="cate-tag">Tech</a>
        </div>
        <h3><a href="#">Will Anker be the company to finally put a heads-up display in my car?</a></h3>
        <div class="meta-post">
          <a href="#">
            Super User
          </a>
          <em></em>
          <span>
                                            26 Sep 2016
                                        </span>
        </div>
      </div>
    </div>
  </div>
</section>

<!--box-news-->
<section class="box-news">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="box-caption">
        <span> BUSINESS</span>
      </div>
      <article class="news-two-large">
        <a href="#">
          <img alt="" src="assets/images/product/6.jpg" />
        </a>
        <h3><a href="#">7 essential lessons from agency marketing to startup growth</a></h3>
        <div class="meta-post">
          <a href="#">
            Sue	Benson
          </a>
          <em></em>
          <span>
                                            23 Sep 2016
                                        </span>
        </div>
        <p>Based on my own experience of going from a digital agency to a start-up, these are the principles I would have taught myself, ...</p>
      </article>
      <ul class="list-news-popular">
        <li>
          <a href="#">
            <img alt="" src="assets/images/product/8.jpg">
          </a>
          <h3><a href="#">Netflix Speeds Jumped 51% This Year</a></h3>
          <div class="meta-post">
            <a href="#">
              Ashley Ford

            </a>
            <em></em>
            <span>
                                                24 Aug  2016
                                            </span>
          </div>
        </li>
        <li>
          <a href="#">
            <img alt="" src="assets/images/product/9.jpg">
          </a>
          <h3><a href="#">Uber wants to build planes to beat city traffic</a></h3>
          <div class="meta-post">
            <a href="#">
              Karla	Walters
            </a>
            <em></em>
            <span>
                                                04 Sep  2016
                                            </span>
          </div>
        </li>
        <li>
          <a href="#">
            <img alt="" src="assets/images/product/10.jpg">
          </a>
          <h3><a href="#">Apple reportedly prototyping their Amazon Echo competitor</a></h3>
          <div class="meta-post">
            <a href="#">
              Super User
            </a>
            <em></em>
            <span>
                                                01 Sep  2016
                                            </span>
          </div>


        </li>


        <li>
          <a href="#">
            <img alt="" src="assets/images/product/11.jpg">
          </a>
          <h3><a href="#">Watch out: That USB stick in your mailbox might be infected</a></h3>
          <div class="meta-post">
            <a href="#">
              Sue	Benson
            </a>
            <em></em>
            <span>
                                                27 Aug  2016
                                            </span>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <div class="box-caption">
        <span> COMPUTING</span>
      </div>
      <article class="news-two-large">
        <a href="#">
          <img alt="" src="assets/images/product/7.jpg" />
        </a>
        <h3><a href="#">400 million machines are now running Windows 10</a></h3>
        <div class="meta-post">
          <a href="#">
            Ashley Ford
          </a>
          <em></em>
          <span>
                                            26 Sep 2016
                                        </span>
        </div>
        <p>Microsoft is revealing today that 400 million active machines are now running Windows 10. The latest update on usage comes just three months</p>
      </article>
      <ul class="list-news-popular">
        <li>
          <a href="#">
            <img alt="" src="assets/images/product/12.jpg">
          </a>
          <h3><a href="#">Mozilla trolls the EU’s nonsensical copyright laws with classic memes</a></h3>
          <div class="meta-post">
            <a href="#">
              Super User
            </a>
            <em></em>
            <span>
                                                26 Sep 2016
                                            </span>
          </div>
        </li>
        <li>
          <a href="#">
            <img alt="" src="assets/images/product/13.jpg">
          </a>
          <h3><a href="#">Tumblr brings Apple’s ‘Live Photos’ to the web</a></h3>
          <div class="meta-post">
            <a href="#">
              Super User
            </a>
            <em></em>
            <span>
                                                15 Sep 2016
                                            </span>
          </div>
        </li>
        <li>
          <a href="#">
            <img alt="" src="assets/images/product/14.jpg">
          </a>
          <h3><a href="#">Smart USA Will Soon Offer Electric Versions of All Its Vehicles</a></h3>
          <div class="meta-post">
            <a href="#">
              Brandy	Patton
            </a>
            <em></em>
            <span>
                                                19 Sep 2016
                                            </span>
          </div>
        </li>
        <li>
          <a href="#">
            <img alt="" src="assets/images/product/15.jpg">
          </a>
          <h3>
            <a href="#">
              Columbia's ThingSpace Is an Art Studio for the 21st Century
            </a>
          </h3>
          <div class="meta-post">
            <a href="#">
              Ashley Ford
            </a>
            <em></em>
            <span>
                                                21 Sep 2016
                                            </span>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="box-news-two">

  </div>
</section>

<!--box-news-->
<section class="box-news">
  <div class="box-caption">
    <span> REVIEW</span>
  </div>
  <div class="owl-carousel owl-review">

    <div>
      <article class="review-item">
        <div class="review-img">
          <img alt="" src="assets/images/product/16.jpg" class="img-responsive" />
        </div>
        <div class="review-item-caption">
          <h3 class="font-heading">
            <a href="#">
              7 essential lessons from agency marketing to startup growth
            </a>
          </h3>
          <div class="meta-post">
            <a href="#">
              Super User
            </a>
            <em></em>
            <span>
                                                19 Sep 2016
                                            </span>
          </div>
        </div>
      </article>
    </div>


    <div>
      <article class="review-item">
        <div class="review-img">
          <img alt="" src="assets/images/product/1.jpg" class="img-responsive" />
        </div>
        <div class="review-item-caption">
          <h3 class="font-heading">
            <a href="#">
              Windows 10 Now Running on 400 Million Active Devices, Says Microsoft
            </a>
          </h3>
          <div class="meta-post">
            <a href="#">
              Ashley Ford
            </a>
            <em></em>
            <span>
                                                26 Sep 2016
                                            </span>
          </div>


        </div>
      </article>
    </div>

    <div>
      <article class="review-item">
        <div class="review-img">
          <img alt="" src="assets/images/product/2.jpg" class="img-responsive" />
        </div>
        <div class="review-item-caption">
          <h3 class="font-heading">
            <a href="#">
              iOS 10 Backups Less Secure Than iOS 9, Claims Researcher
            </a>
          </h3>
          <div class="meta-post">
            <a href="#">
              Super User
            </a>
            <em></em>
            <span>
                                                24 Sep 2016
                                            </span>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>

<!--box-news-->
<section class="box-news">
  <div class="box-caption">
    <span> Mobile</span>
  </div>
  <article class="news-two-large news-three-large">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <a href="#">
          <img alt="" src="assets/images/product/4.jpg" />
        </a>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <h3 class="title-fix-margin"><a href="#">Six big ways MacOS Sierra is going to change your Apple experience</a></h3>
        <div class="meta-post">
          <a href="#">
            Marion	Craig
          </a>
          <em></em>
          <span>
                                            21 Sep 2016
                                        </span>
        </div>
        <p>Lacinia faucibus consectetuer vestibulum elit quisque at et ultrices sed libero. Ut nam eu nunc enim curabitur non metus eu turpis eget. Aenean laoreet vitae morbi vestibulum vestibulum sociis tellus interdum cras.</p>
      </div>
    </div>


  </article>
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">
      <ul class="list-news-popular">

        <li>
          <a href="#">
            <img alt="" src="assets/images/product/13.jpg">
          </a>
          <h3><a href="#">Tumblr brings Apple’s ‘Live Photos’ to the web</a></h3>
          <div class="meta-post">
            <a href="#">
              Super User
            </a>
            <em></em>
            <span>
                                                15 Sep 2016
                                            </span>
          </div>
        </li>
        <li>
          <a href="#">
            <img alt="" src="assets/images/product/14.jpg">
          </a>
          <h3><a href="#">Smart USA Will Soon Offer Electric Versions of All Its Vehicles</a></h3>
          <div class="meta-post">
            <a href="#">
              Brandy	Patton
            </a>
            <em></em>
            <span>
                                                19 Sep 2016
                                            </span>
          </div>
        </li>
        <li>
          <a href="#">
            <img alt="" src="assets/images/product/15.jpg">
          </a>
          <h3>
            <a href="#">
              Columbia's ThingSpace Is an Art Studio for the 21st Century
            </a>
          </h3>
          <div class="meta-post">
            <a href="#">
              Ashley Ford
            </a>
            <em></em>
            <span>
                                                21 Sep 2016
                                            </span>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <ul class="list-news-popular">

        <li>
          <a href="#">
            <img alt="" src="assets/images/product/9.jpg">
          </a>
          <h3><a href="#">Uber wants to build planes to beat city traffic</a></h3>
          <div class="meta-post">
            <a href="#">
              Karla	Walters
            </a>
            <em></em>
            <span>
                                                04 Sep  2016
                                            </span>
          </div>
        </li>
        <li>
          <a href="#">
            <img alt="" src="assets/images/product/10.jpg">
          </a>
          <h3><a href="#">Apple reportedly prototyping their Amazon Echo competitor</a></h3>
          <div class="meta-post">
            <a href="#">
              Super User
            </a>
            <em></em>
            <span>
                                                01 Sep  2016
                                            </span>
          </div>


        </li>


        <li>
          <a href="#">
            <img alt="" src="assets/images/product/11.jpg">
          </a>
          <h3><a href="#">Watch out: That USB stick in your mailbox might be infected</a></h3>
          <div class="meta-post">
            <a href="#">
              Sue	Benson
            </a>
            <em></em>
            <span>
                                                27 Aug  2016
                                            </span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
