<div class="box-caption">
  <span>Business</span>
</div>
<!--list-news-cate-->
<div class="list-news-cate">
  <article class="news-cate-item news-cate-item-first">
    <div class="row">
      <div class="col-md-5 col-sm-5 col-xs-12">
        <a href="#">
          <img alt="" src="assets/images/product/3.jpg">
        </a>
      </div>
      <div class="col-md-7 col-sm-7 col-xs-12">
        <h3><a href="#">Tip Aligning Digital Marketing with Business Goals and Objectives</a></h3>
        <div class="meta-post">
          <a href="#">
            Sue	Benson
          </a>
          <em></em>
          <span>
                                            22 Sep 2016
                                        </span>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. At enim sequor utilitatem. Quippe: habes enim a rhetoribus; Callipho ad virtutem nihil adiunxit nisi voluptatem.</p>
      </div>
    </div>
  </article>
  <article class="news-cate-item">
    <div class="row">
      <div class="col-md-5 col-sm-5 col-xs-12">
        <a href="#">
          <img alt="" src="assets/images/product/4.jpg">
        </a>
      </div>
      <div class="col-md-7 col-sm-7 col-xs-12">
        <h3><a href="#">Six big ways MacOS Sierra is going to change your Apple experience</a></h3>
        <div class="meta-post">
          <a href="#">
            Marion	Craig
          </a>
          <em></em>
          <span>
                                            21 Sep 2016
                                        </span>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. At enim sequor utilitatem. Quippe: habes enim a rhetoribus; Callipho ad virtutem nihil adiunxit nisi voluptatem.</p>
      </div>
    </div>
  </article>
  <article class="news-cate-item">
    <div class="row">
      <div class="col-md-5 col-sm-5 col-xs-12">
        <a href="#">
          <img alt="" src="assets/images/product/5.jpg">
        </a>
      </div>
      <div class="col-md-7 col-sm-7 col-xs-12">
        <h3><a href="#">Will Anker be the company to finally put a heads-up display in my car?</a></h3>
        <div class="meta-post">
          <a href="#">
            Super User
          </a>
          <em></em>
          <span>
                                            26 Sep 2016
                                        </span>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. At enim sequor utilitatem. Quippe: habes enim a rhetoribus; Callipho ad virtutem nihil adiunxit nisi voluptatem.</p>
      </div>
    </div>
  </article>
  <article class="news-cate-item">
    <div class="row">
      <div class="col-md-5 col-sm-5 col-xs-12">
        <a href="#">
          <img alt="" src="assets/images/product/6.jpg">
        </a>
      </div>
      <div class="col-md-7 col-sm-7 col-xs-12">
        <h3><a href="#">7 essential lessons from agency marketing to startup growth</a></h3>
        <div class="meta-post">
          <a href="#">
            Sue	Benson
          </a>
          <em></em>
          <span>
                                            23 Sep 2016
                                        </span>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. At enim sequor utilitatem. Quippe: habes enim a rhetoribus; Callipho ad virtutem nihil adiunxit nisi voluptatem.</p>
      </div>
    </div>
  </article>
  <article class="news-cate-item ">
    <div class="row">
      <div class="col-md-5 col-sm-5 col-xs-12">
        <a href="#">
          <img alt="" src="assets/images/product/7.jpg">
        </a>
      </div>
      <div class="col-md-7 col-sm-7 col-xs-12">
        <h3><a href="#">400 million machines are now running Windows 10</a></h3>
        <div class="meta-post">
          <a href="#">
            Ashley Ford
          </a>
          <em></em>
          <span>
                                            26 Sep 2016
                                        </span>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. At enim sequor utilitatem. Quippe: habes enim a rhetoribus; Callipho ad virtutem nihil adiunxit nisi voluptatem.</p>
      </div>
    </div>
  </article>
  <article class="news-cate-item">
    <div class="row">
      <div class="col-md-5 col-sm-5 col-xs-12">
        <a href="#">
          <img alt="" src="assets/images/product/4.jpg">
        </a>
      </div>
      <div class="col-md-7 col-sm-7 col-xs-12">
        <h3><a href="#">Six big ways MacOS Sierra is going to change your Apple experience</a></h3>
        <div class="meta-post">
          <a href="#">
            Marion	Craig
          </a>
          <em></em>
          <span>
                                            21 Sep 2016
                                        </span>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. At enim sequor utilitatem. Quippe: habes enim a rhetoribus; Callipho ad virtutem nihil adiunxit nisi voluptatem.</p>
      </div>
    </div>
  </article>
  <article class="news-cate-item">
    <div class="row">
      <div class="col-md-5 col-sm-5 col-xs-12">
        <a href="#">
          <img alt="" src="assets/images/product/5.jpg">
        </a>
      </div>
      <div class="col-md-7 col-sm-7 col-xs-12">
        <h3><a href="#">Will Anker be the company to finally put a heads-up display in my car?</a></h3>
        <div class="meta-post">
          <a href="#">
            Super User
          </a>
          <em></em>
          <span>
                                            26 Sep 2016
                                        </span>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. At enim sequor utilitatem. Quippe: habes enim a rhetoribus; Callipho ad virtutem nihil adiunxit nisi voluptatem.</p>
      </div>
    </div>
  </article>
  <article class="news-cate-item">
    <div class="row">
      <div class="col-md-5 col-sm-5 col-xs-12">
        <a href="#">
          <img alt="" src="assets/images/product/6.jpg">
        </a>
      </div>
      <div class="col-md-7 col-sm-7 col-xs-12">
        <h3><a href="#">7 essential lessons from agency marketing to startup growth</a></h3>
        <div class="meta-post">
          <a href="#">
            Sue	Benson
          </a>
          <em></em>
          <span>
                                            23 Sep 2016
                                        </span>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. At enim sequor utilitatem. Quippe: habes enim a rhetoribus; Callipho ad virtutem nihil adiunxit nisi voluptatem.</p>
      </div>
    </div>
  </article>
  <article class="news-cate-item ">
    <div class="row">
      <div class="col-md-5 col-sm-5 col-xs-12">
        <a href="#">
          <img alt="" src="assets/images/product/7.jpg">
        </a>
      </div>
      <div class="col-md-7 col-sm-7 col-xs-12">
        <h3><a href="#">400 million machines are now running Windows 10</a></h3>
        <div class="meta-post">
          <a href="#">
            Ashley Ford
          </a>
          <em></em>
          <span>
                                            26 Sep 2016
                                        </span>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. At enim sequor utilitatem. Quippe: habes enim a rhetoribus; Callipho ad virtutem nihil adiunxit nisi voluptatem.</p>
      </div>
    </div>
  </article>
</div>
<!--paging-->
<div class="paging">
  <a href="#">Prev</a>
  <a href="#">1</a>
  <a href="#" class="current">2</a>
  <a href="#">3</a>
  <a href="#">4</a>
  <a href="#">5</a>
  <a href="#">Next</a>
</div>
